*{padding:0;margin:0;}
body{font-family:"proxima-nova",helvetica,arial,sans-serif;font-size:62.5%;line-height:230%;color:#333333;background:#efefef;}
.page{max-width:768px;margin:0 auto;position:relative;border:1px solid #ccc;border-top:none;background:#fff;}
::selection{background:rgba(0, 0, 0, 0.8);color:#efefef;}
::-moz-selection{background:rgba(0, 0, 0, 0.8);color:#efefef;}
a{color:#1262a0;text-decoration:none;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}a:hover{background:#e8eef0;border-bottom:1px solid #cad7db;}
a:active{border-bottom:1px solid #416078;}
h1,h2,h3,h4,h5,h6{font-family:"proxima-nova-condensed";text-transform:uppercase;font-weight:300;}
h2{font-size:2.7em;padding-bottom:5px;}
h3{font-size:2.2em;padding-top:15px;}
h4{padding-top:5px;font-size:1.8em;}
p,ol,ul,pre{font-size:1.5em;padding:7px 0;}
ol,ul{margin-left:1.5em;}
pre{width:96%;padding:2%;overflow:scroll;}pre code{line-height:1em;font-family:'inconsolata',monospace;}
.highlight{border-radius:5px;margin:7px 0;}.highlight ::selection{background:#efefef;color:#073642;}
.highlight ::-moz-selection{background:#efefef;color:#073642;}
.ampersand{font-family:"adobe-caslon-pro","proxima-nova",helvetica,arial,sans-serif;font-style:italic;}
header{text-align:center;font-size:1.5em;padding:20px 2% 10px;overflow:hidden;}header h1,header p{float:left;width:100%;}
header p{font-size:1.2em;}
nav{text-align:left;float:left;clear:both;padding:10px 0;width:100%;}nav ul{font-size:1em;padding:0;}
nav li{width:49%;margin-left:1%;float:left;list-style:none;}
nav a{display:block;padding:5px 2%;}nav a.current_page_item{color:#333333;background:#cad7db;}
nav a:before{content:'>';padding-right:3%;}
nav a:hover{border:none;}
.slider{text-align:center;font-size:1.2em;}.slider h2{padding-bottom:20px;text-shadow:1px 1px 1px #333333;color:white;font-size:3.5em;}
.slider p{color:#efefef;padding:0;line-height:100%;}
.slider .slide{background:#416078;overflow:hidden;padding:100px 10%;background:#679abc;background:-moz-radial-gradient(center, ellipse cover, #679abc 0%, #416078 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #679abc), color-stop(100%, #416078));background:-webkit-radial-gradient(center, ellipse cover, #679abc 0%, #416078 100%);background:-o-radial-gradient(center, ellipse cover, #679abc 0%, #416078 100%);background:-ms-radial-gradient(center, ellipse cover, #679abc 0%, #416078 100%);background:radial-gradient(ellipse at center, #679abc 0%, #416078 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#679abc', endColorstr='#416078', GradientType=1);}
.columns-2,.columns-3{overflow:hidden;}
.col{padding:15px 5%;border-bottom:1px solid #cad7db;}
.dark{background:#333333;color:#efefef;overflow:hidden;}
.main{width:96%;margin:0 2%;}
footer{text-align:center;color:#777;font-size:.9em;padding:10px 0;}
@media screen and (min-width:768px){body{font-size:65%;} .page{max-width:1024px;} nav{text-align:center;}nav ul{border-bottom:1px solid #416078;width:75%;margin:0 auto;overflow:hidden;text-align:center;} nav li{width:auto;display:inline;margin:0;} nav a{display:inline-block;padding:10px 20px 7px 20px;border-bottom:2px solid white;}nav a.current_page_item{border-bottom:2px solid #333333;} nav a:before{content:'';padding:0;} nav a:hover{padding-left:20px;border-bottom:2px solid #416078;} .slider .slide{padding:10% 10%;} .columns-3 .col .wrap,.columns-2 .col .wrap{-moz-column-count:2;-moz-column-gap:35px;-webkit-column-count:2;-webkit-column-gap:35px;column-count:2;column-gap:35px;} .blog{max-width:900px;margin:0 auto;position:relative;} code{padding:1% 2%;}}@media screen and (min-width:1024px){body{font-size:68%;} .page{max-width:1300px;} header{text-align:left;}header h1,header p{float:left;clear:left;width:auto;} header p{font-size:1em;} nav{width:auto;margin:0;position:absolute;top:10px;right:2%;}nav ul{margin:0;float:right;width:auto;display:block;} .columns-3{padding:0 2%;margin-top:40px;}.columns-3 .col{background:url('../images/image.png') 50% top no-repeat;background-size:contain;margin-top:50px;width:30.5%;float:left;padding:170px 0 40px 0;margin:0 1.43%;border:none;}.columns-3 .col .wrap{-moz-column-count:0;-moz-column-gap:0;-webkit-column-count:0;-webkit-column-gap:0;column-count:0;column-gap:0;} .columns-2{padding:0 2%;}.columns-2 .col{width:47%;padding:40px 1.5%;border:none;float:left;}.columns-2 .col .wrap{-moz-column-count:0;-moz-column-gap:0;-webkit-column-count:0;-webkit-column-gap:0;column-count:0;column-gap:0;} section{clear:both;}}.highlight{background-color:#073642;color:#93a1a1;}
.highlight .c{color:#586e75 !important;font-style:italic !important;}
.highlight .cm{color:#586e75 !important;font-style:italic !important;}
.highlight .cp{color:#586e75 !important;font-style:italic !important;}
.highlight .c1{color:#586e75 !important;font-style:italic !important;}
.highlight .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important;}
.highlight .err{color:#dc322f !important;background:none !important;}
.highlight .k{color:#cb4b16 !important;}
.highlight .o{color:#93a1a1 !important;font-weight:bold !important;}
.highlight .p{color:#93a1a1 !important;}
.highlight .ow{color:#2aa198 !important;font-weight:bold !important;}
.highlight .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block;}
.highlight .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block;}
.highlight .ge{color:#93a1a1 !important;font-style:italic !important;}
.highlight .gr{color:#aa0000;}
.highlight .gh{color:#586e75 !important;}
.highlight .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block;}
.highlight .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block;}
.highlight .go{color:#888888;}
.highlight .gp{color:#555555;}
.highlight .gs{color:#93a1a1 !important;font-weight:bold !important;}
.highlight .gu{color:#6c71c4 !important;}
.highlight .gt{color:#aa0000;}
.highlight .kc{color:#859900 !important;font-weight:bold !important;}
.highlight .kd{color:#268bd2 !important;}
.highlight .kp{color:#cb4b16 !important;font-weight:bold !important;}
.highlight .kr{color:#d33682 !important;font-weight:bold !important;}
.highlight .kt{color:#2aa198 !important;}
.highlight .n{color:#268bd2 !important;}
.highlight .na{color:#268bd2 !important;}
.highlight .nb{color:#859900 !important;}
.highlight .nc{color:#d33682 !important;}
.highlight .no{color:#b58900 !important;}
.highlight .ni{color:#800080;}
.highlight .nl{color:#859900 !important;}
.highlight .ne{color:#268bd2 !important;font-weight:bold !important;}
.highlight .nf{color:#268bd2 !important;font-weight:bold !important;}
.highlight .nn{color:#b58900 !important;}
.highlight .nt{color:#268bd2 !important;font-weight:bold !important;}
.highlight .nx{color:#b58900 !important;}
.highlight .bp{color:#999999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#268bd2 !important;}
.highlight .vi{color:#268bd2 !important;}
.highlight .nv{color:#268bd2 !important;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#2aa198 !important;}
.highlight .m{color:#2aa198 !important;}
.highlight .mh{color:#2aa198 !important;}
.highlight .mi{color:#2aa198 !important;}
.highlight .mo{color:#009999;}
.highlight .s{color:#2aa198 !important;}
.highlight .sb{color:#dd1144;}
.highlight .sc{color:#dd1144;}
.highlight .sd{color:#2aa198 !important;}
.highlight .s2{color:#2aa198 !important;}
.highlight .se{color:#dc322f !important;}
.highlight .sh{color:#dd1144;}
.highlight .si{color:#268bd2 !important;}
.highlight .sx{color:#dd1144;}
.highlight .sr{color:#2aa198 !important;}
.highlight .s1{color:#2aa198 !important;}
.highlight .ss{color:#990073;}
.highlight .il{color:#009999;}
.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%;}
