<!DOCTYPE html>

<html>

  <head>
    <title>{{ page.title }} &middot; {{ site.name }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt.blank? %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />

    {% stylesheet main %}

    {% if page.categories.first == 'development' %}
      {% stylesheet code %}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="Site Feed" href="/feed/">
    <link rel="alternate" type="application/rss+xml" title="Notebook Feed" href="/feed/notebook/">
    <link rel="alternate" type="application/rss+xml" title="Adventures and Photography Feed" href="/feed/adventures-photography">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:description" content="{% if page.excerpt != nil %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content="{{ site.imgix.metadata_images }}{% if page.banner != nil %}{{ page.banner }}{% else %}{{ site.opengraph.image }}{% endif %}.jpg?w=700%26h=467" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:height" content="467" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="article:author" content="{{ site.opengraph.personal }}" />
    <meta property="article:publisher" content="{{ site.opengraph.page }}" />

    {{ page.header}}
  </head>

  <body>
    <header>
      <a href="/" title="Home">
        <h1>Daniel Groves</h1>
        <span class="toggle">Show Nav</span>
      </a>

      <nav>
        {% include pages.html %}
      </nav>
    </header>
