<ul><!--
--><li>
    <a {% if "/index.html" == page.url %} class="current_page_item" {% endif %} href="/">
      Home<br />
      <span>Who &amp; What</span>
    </a>
  </li><!--
--><li>
  <a href="http://etsy.com/uk/shop/danielsgroves" target="_blank">
    Shop<br />
    <span>Purchase Prints, Stickers and Cards</span>
  </a>
</li><!--
--><li>
    <a {% if "/adventures-photography/index.html" == page.url %} class="current_page_item" {% endif %} href="/adventures-photography">
      Adventures &amp; Photography<br />
      <span>Photostories from the front-lines</span>
    </a>
  </li><!--
--><li>
    <a {% if "/notebook/index.html" == page.url %} class="current_page_item" {% endif %} href="/notebook">
      Notebook<br />
      <span>Gear, Ideas, Advice &amp; Photography</span>
    </a>
  </li><!--
--><li>
    <a {% if "/development/index.html" == page.url %} class="current_page_item" {% endif %} href="/development">
      Development<br />
      <span>Systems, Code &amp; Infrastructure</span>
    </a>
  </li>
</ul>
