---
title: "Developer and Photographer"
footer_related_posts: false
---

<main id="landing">
  <div id="intro">
      <span>Hi there, I'm Daniel Groves.</span>
      <span>I'm a photographer, adventurer, and developer who is addicted to the mountains.</span>
  </div>

  <div id="about">
    <section>
      <header>
        <h1>Photographer</h1>
      </header>
      <p>I am a photographer who spends as much time shooting and editing photographs as breathing. I primarily work with travel &amp; landscape, but have been known to dabble in action–sport and street photography in the past. </p>
      <p>I go on regular microadventures in order to access remote locations; these are often grueling exercises in some bad conditions all for one shot - <em>if</em> the light is right. </p>
    </section>

    <section>
      <header>
        <h1>Adventurer</h1>
      </header>
      <p>The best photo's have a story behind them. They say a photo can tell a thousand words; but it can't tell every detail of what it took to achieve it. </p>
      <p>After an adventure I try to tell the story through both words and photos, giving the lows and the highs to try and get across what they're really like, why I do it, and to inspire others to follow suit. It's these stories that populate my <em><a href="/adventures-photography" title="Photostories from the front lines">adventures and photography</a></em> pages.
    </section>

    <section>
      <header>
        <h1>Developer</h1>
      </header>
      <p>I develop clean and maintainable code for my own projects and my employer. I work in a number of languages including C#, Python, and Ruby. I also have experience with web frameworks such as Django and ASP.net.</p>
      <p>I regularly share what I am working on through my GitHub profile to help others learn and contribute towards projects. For example, you can find the source-code for this website in it's <a href="http://github.com/danielgroves/danielgroves.net" title="Source code for danielgroves.net">open–source repository</a>. </p>
    </section>
  </div>

  <div id="posts">
    {% for post in site.categories.adventures-photography limit:2 %}
    <section>
      {% if post.thumb %}
        <a href="{{ post.base_url }}{{ post.url }}" title="View {{ post.title }}" class="loading-img">
          <img data-src="{{ site.imgix.metadata_images }}{{ post.thumb }}" alt="Thumbnail for {{ post.title }}" class="thumbnail imgix-fluid" width="395px" height="221px" />
        </a>
      {% endif %}

      <header>
        <h1><a href="{{ post.base_url }}{{ post.url }}" title="View {{ post.title }}">{{ post.title }}</a></h1>
      </header>
      <p>{{ post.excerpt }}</p>
    </section>
    {% endfor %}

    {% assign post = site.categories.notebook.first %}
    <section>
      {% if post.thumb %}
        <a href="{{ post.base_url }}{{ post.url }}" title="View {{ post.title }}" class="loading-img">
          <img data-src="{{ site.imgix.metadata_images }}{{ post.thumb }}" alt="Thumbnail for {{ post.title }}" class="thumbnail imgix-fluid" width="395px" height="221px" />
        </a>
      {% endif %}

      <header>
        <h1><a href="{{ post.base_url }}{{ post.url }}" title="View {{ post.title }}">{{ post.title }}</a></h1>
      </header>
      <p>{{ post.excerpt }}</p>
    </section>
  </div>
</main>
