article {
  padding-top: 4em;
  
  // Header Image.
  @include media($tablet) {
    &.image {
      padding: 0;
    }

    div.image {
      width: 100%;
      height: 80vh;
      background-size: cover;
      background-position: middle;
      
      &.image_top {
        background-position: top;
      }
      
      &.image_bottom {
        background-position: bottom;
      }
    }
  }


  // Main content column settings.
  h1, h2, h3, h4, h5, h6, hr, 
  p, ol, ul, span, pre code {
    @include span-columns(10);
    @include shift(1);
    
    span {
      width: auto;
      margin: 0;
    }

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }
  }


  // Wide content column settings.
  figure {
    @include span-columns(12);
  }


  // Page Footer
  footer p {
    @include subtle-emphases;
    @include rem-fallback(padding-top, 2);
    @include rem-fallback(padding-bottom, 3);
  }

  // Content Styles
  p, pre {
    @include rem-fallback(font-size, 1.4);
    @include rem-fallback(line-height, 1.8);
    @include rem-fallback(padding, .4, 0);
    font-family: $font-serif;
    color: $color-normal-text;
  }
  
  img {
    max-width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }
  
  figure {
    @include rem-fallback(padding, .4, 0);

    @include media($tablet) {
      @include rem-fallback(padding, 2, 0);
    }

    .row {
      @include row;
      @include rem-fallback('padding-top', 1);
      
      img {
        width: 23.875%;
        float: left;
        margin-right: 1.5%;
        
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    figcaption {
      @include span-columns(12);
      @include rem-fallback(font-size, 1);
      @include rem-fallback(line-height, 1.2);
      @include rem-fallback(padding, .8, 1);

      font-family: $font-sans;
      background: $color-light-grey;
      text-align: center;
      color: $color-light-text;
    }
  }
  
  pre {
    background-color: $color-light-grey;
    overflow: hidden;
    @include fill-parent;
    
    code {
      overflow-x: scroll;
    }
  }
  
  code {
    @include rem-fallback(font-size, 1.2);
    font-family: "Inconsolata", "Fixed";
  }
}