article {
  padding-top: 4em;

  // Header Image.
  @include media($tablet) {
    &.image {
      padding: 0;
    }

    div.image {
      width: 100%;
      height: 75vh;
      background-size: cover;
      background-position: middle;

      &.image_top {
        background-position: top;
      }

      &.image_bottom {
        background-position: bottom;
      }
    }
  }


  // Wide content column settings.
  figure, .imagePreview {
    @include span-columns(12);
  }


  // Main content column settings.
  > section, > footer {
    @include outer-container;
  }

  h1, h2, h3, h4, h5, h6, hr,
  p, ol, ul, figure.narrow {
    @include span-columns(10);
    @include shift(1);

    span {
      width: auto;
      margin: 0;
    }

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }
  }

  .highlight {
    pre {
      @include span-columns(10);
      @include shift(1);

      @include media($tablet) {
        @include span-columns(8);
        @include shift(2);
      }
    }
  }


  // Blockquote
  blockquote {
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin-top, .4);
    @include rem-fallback(margin-bottom, .4);

    @include span-columns(10);
    @include shift(1);

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }

    > *, p {
      @include rem-fallback(margin-left, 2);
      @include rem-fallback(padding-left, 1);
      width: auto;
      border-left: 3px solid $color-normal-text;
    }

    :first-child {
      @include rem-fallback(padding-top, 1);
    }

    :last-child {
      @include rem-fallback(padding-bottom, 1);
    }

    ol, ul {
      @include rem-fallback(margin, 0, 0, 0, 2);
    }
  }

  figure.quote {
    @include rem-fallback(padding, 1, 0, 1, 0);
    @include rem-fallback(margin-top, .4);
    @include rem-fallback(margin-bottom, .4);

    @include span-columns(10);
    @include shift(1);

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }

    blockquote {
      @include fill-parent;
      @include shift(0);
    }

    figcaption {
      @include rem-fallback(font-size, 1.3);
      @include shift(1);
      color: $color-light-text;
      font-style: italic;
      font-family: $font-serif;
      background: transparent;
      text-align: left;

      cite, span {
        display: block;
        @include rem-fallback(padding-bottom, .5);

        &::before {
          content: "\00a0\00a0\00a0"
        }
      }

      > :first-child::before {
        content: " – ";
      }
    }
  }


  // Page Footer
  footer p {
    @include subtle-emphases;
    @include rem-fallback(padding-top, 2);
    @include rem-fallback(padding-bottom, 3);
  }

  // Content Styles
  p, pre {
    @include rem-fallback(font-size, 1.4);
    @include rem-fallback(line-height, 1.8);
    @include rem-fallback(padding, .4, 0);
    font-family: $font-serif;
    color: $color-normal-text;
  }

  img {
    max-width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }

  figure, .imagePreview {
    @include rem-fallback(padding, .4, 0);

    @include media($tablet) {
      @include rem-fallback(padding, 2, 0);
    }

    .row {
      @include row;
      @include rem-fallback('padding-top', 1);

      img {
        width: 23.875%;
        float: left;
        margin-right: 1.5%;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    figcaption {
      @include span-columns(12);
      @include rem-fallback(font-size, 1);
      @include rem-fallback(line-height, 1.2);
      @include rem-fallback(padding, .8, 1);

      font-family: $font-sans;
      background: $color-light-grey;
      text-align: center;
      color: $color-light-text;
    }
  }

  pre {
    overflow: hidden;
    background: $color-light-grey;
    padding: .5em;

    code {
      overflow-x: scroll;
    }
  }

  code {
    @include rem-fallback(font-size, 1.2);
    font-family: "Inconsolata", "Fixed";
  }
}
