aside {
  @include row;
  @include rem-fallback(padding, 1, 0, 2, 0);

  font-family: $font-sans;
  overflow: hidden;

  section {
    @include outer-container;
  }

  h2, ul {
    @include span-columns(10);
    @include shift(1);

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }
  }

  h2 {
    @include rem-fallback(padding-bottom, 1);
    @include rem-fallback(font-size, 1.6);

    color: #333333;
    font-weight: 100;
  }
}

aside.more_like_this {
  background: $color-light-grey;

  dl {
    @include span-columns(10);
    @include shift(1);
    color: #333333;

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }

    @include media($desktop) {
      @include span-columns(4);

      &:last-of-type {
        @include shift(0);
      }
    }

    dt {
      @include rem-fallback(font-size, 1.3);
      @include rem-fallback(line-height, 1.5);
      @include rem-fallback(padding-bottom, .5);
    }

    dd + dt {
      @include rem-fallback(padding-top, 1.1);
    }

    dd {
      @include rem-fallback(font-size, 1);
      @include rem-fallback(line-height, 1.3);
    }
  }
}

aside.elsewhere_on_the_web {
  ul {
    @include row(table);
    @include span-columns(10);

    @include media($tablet) {
      @include span-columns(8);
    }
  }

  a {
    display: block;
    height: 100%;
  }

  li {
    @include span-columns(6);

    height: 70px;
    background-repeat: no-repeat;
    background-size: 140px auto;
    background-image: url("#{$static_url}/style_images/social-icons-sprite.png");

    @media #{$retina} {
      background-image: url("#{$static_url}/style_images/social-icons-sprite@2x.png");
    }

    list-style: none;

    text-indent: 1000000%;

    display: block;
    float:left;
    margin: 0;
    padding: 0;

    @include media($tablet) {
      @include span-columns(4);
    }

    @include media($desktop) {
      @include span-columns(2);
      @include reset-display;
    }
  }

  .social__instagram {
    background-position: 50% -70px;
    background-color: #834e3d;
    background-color: rgb(131,78,61);
  }

  .social__facebook {
    background-position: 50% -280px;
    background-color: #3b5998;
    background-color: rgb(59,89,152);
  }

  .social__flickr {
    background-position: 50% -210px;
    background-color: #fff;
    background-color: rgb(238,238,238);
  }

  .social__github {
    background-position: 50% -140px;
    background-color: #3f3f3f;
    background-color: rgb(63,63,63);
  }

  .social__500px {
    background-position: 50% -350px;
    background-color: #000;
    background-color: rgb(0,0,0);
  }

  .social__twitter {
    background-position: 50% 0;
    background-color: #55acee;
    background-color: rgb(85,172,238);
  }
}

body > footer {
  @include rem-fallback(padding, .7, 0);
  @include rem-fallback(line-height, 1.5);

  background: $color-light-grey;
  font-family: $font-sans;
  color: #333333;

  section {
    @include outer-container;
  }

  p {
    @include span-columns(10);
    @include shift(1);
    @include rem-fallback(padding, .5, 1);
    @include rem-fallback(font-size, 1);

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
      padding-left: 0;
      padding-right: 0;
    }
  }
}
