body > header {
  @include fill-parent;

  background: #000000;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);

  position: fixed;
  top: 0;

  z-index: 1000;

  a {
    @include rem-fallback(padding, 1.24, 1, 1, 1);

    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-sans;
    display: inline-block;
    position: relative;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    text-align: center;
    @include rem-fallback(font-size, 1.1);
  }

  .toggle {
    @include rem-fallback(font-size, .8);
    @include rem-fallback(margin-top, -.4);
    @include rem-fallback(right, 1);

    float: right;
    position: absolute;
    top: 50%;
  }

  nav {
    clear: left;
    height: auto;
    overflow: hidden;
    display: inline-block;
    width: 100%;

    &.hidden {
      height: 0;
    }

    li {
      @include rem-fallback(font-size, 1);

      display: block;
      width: 100%;
      margin: 0;
      padding: 0;

      span {
        display: block;
        clear: left;
        text-transform: none;
        color: #ccc;
        font-size: 95%;
        font-weight: normal;
        @include rem-fallback(padding-top, .5);
      }

      a {
        &:hover, &.current_page_item {
          @include rem-fallback(padding-left, .8);
          text-decoration: none;
          border-left: .2em solid #fff;
        }

        &:hover span {
          color: #fff;
        }
      }
    }
  }

  ul {
    padding: 0;
  }

  @include media($navigation-full-width) {
    .toggle {
      display: none;
    }

    nav {
      clear: both;
      width: 100%;
      text-align: center;

      a {
        display: inline-block;
        width: auto;
      }

      &.hidden {
        height: auto;
      }

      ul {
        list-style: none;
      }

      li {
        display: inline-block;
        width: auto;

        a {
          @include rem-fallback(padding, 1.3, 1);

          &:hover, &.current_page_item {
            @include rem-fallback(padding-bottom, 1.1);
            @include rem-fallback(padding-left, 1);
            border-bottom: 2px solid #fff;
            border-left: none;
          }
        }
      }
    }
  }

  @include media($navigation-single-row) {
    a {
      display: inline-block;
      width: auto;
    }

    h1 {
      @include rem-fallback(padding, .8, 1);
    }

    nav {
      float: right;
      clear: none;
      width: auto;

      text-align: right;

      li {
        text-align: left;
      }
    }
  }

  @include media($navigation-with-picture) {
    h1 {
      @include rem-fallback(margin-left, 4);

      &:before {
        content: " ";
        display: inline-block;
        background: #333 url("#{$static_url}/me.jpg") center center no-repeat;
        background-size: cover;
        border-bottom: 1px solid #666;

        @include rem-fallback(width, 3);
        @include rem-fallback(height, 3);
        @include rem-fallback(border-radius, 3);
        @include rem-fallback(margin-top, -1.5);
        @include rem-fallback(margin-left, 1);

        position: absolute;
        top: 50%;
        left: 0;
      }
    }
  }
}
