body > header {
  @include fill-parent;

  background: #000000;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);

  position: fixed;
  top: 0;

  z-index: 1000;

  a {
    @include rem-fallback(padding, 1.24, 1);

    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-sans;
    display: block;
    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    text-align: center;
    @include rem-fallback(font-size, 1.1);
  }

  .toggle {
    @include rem-fallback(font-size, .8);
    @include rem-fallback(margin-top, -.4);
    @include rem-fallback(right, 1);

    float: right;
    position: absolute;
    top: 50%;
  }

  nav {
    clear: left;
    height: auto;
    overflow: hidden;

    &.hidden {
      height: 0;
    }

    li {
      @include rem-fallback(font-size, 1);

      display: block;
      width: 100%;
      margin: 0;
      padding: 0;

      a {
        &:hover, &.current_page_item {
          @include rem-fallback(padding-left, .9);
          text-decoration: none;
          border-left: .1em solid #fff;
        }
      }
    }
  }

  ul {
    padding: 0;
  }

  @include media($tablet) {
    a {
      display: inline-block;
    }

    .toggle {
      display: none;
    }

    nav {
      float: right;
      clear: none;
      display: inline-block;

      &.hidden {
        height: auto;
      }

      li {
        display: inline-block;
        width: auto;

        a {
          @include rem-fallback(padding, 1.3, 1);

          &:hover, &.current_page_item {
            @include rem-fallback(padding-bottom, 1.1);
            @include rem-fallback(padding-left, 1);
            border-bottom: 2px solid #fff;
            border-left: none;
          }
        }
      }
    }
  }
}
