#landing {
  font-family: $font-serif;

  header {
    @include fill-parent;
    @include row;
  }

  #intro {
    @include rem-fallback(padding-top, 8);
    @include rem-fallback(font-size, 1.6);
    @include fill-parent;
    @include row;

    span {
      @include span-columns(10);
      @include shift(1);

      text-align: center;
      color: #fff;
      text-shadow: 0 0 3px #000;

      &:first-of-type {
        @include rem-fallback(font-size, 3);
        @include rem-fallback(padding, 8, 0);
        font-family: $font-sans;
      }

      &:last-of-type {
        @include rem-fallback(padding-bottom, 10);
      }
    }
  }

  #about, #posts {
    @include row;
    @include shift(1);
    @include span-columns(10);
    max-width: none;

    section {
      @include rem-fallback(font-size, 1.4);

      @include media($desktop) {
        @include span-columns(4);
      }

      img {
        @include fill-parent;
        height: auto;
      }

      h1 {
        @include rem-fallback(font-size, 2);
        @include rem-fallback(padding, 2, 0);
        @include shift(0);
      }

      p {
        @include rem-fallback(padding, 0, 0, 1, 0);
        @include rem-fallback(line-height, 1.8);
      }
    }
  }

  #posts {
    @include rem-fallback(margin-top, 3);
  }
}
