<section class="articlelist">
    {% for post in include.posts %}
      <article>
        {% if post.thumb %}
          <img src="{{ post.thumb }}" alt="Thumbnail for {{ post.title }}" class="thumbnail" />
        {% endif %}
  
        <header>
          <h1><a href="{{ post.base_url }}{{ post.url }}">{{ post.title }}</a></h1>
          <span><strong>Published:</strong> {{ post.date | date: "%d/%m/%Y" }}</span>
        </header>
  
        <p>{{ post.excerpt }}</p>
      </article>
    {% endfor %}
  </section>