<section class="article-list">
  {% for post in include.paginator.posts %}
    {% assign mod = forloop.index0 | modulo: 2%}

    {% if mod == 0 %}
      <div class="row">
    {% endif %}

    <article>
      {% if post.thumb %}
        <img src="{{ post.thumb }}" alt="Thumbnail for {{ post.title }}" class="thumbnail" />
      {% endif %}

      <header>
        <h1><a href="{{ post.base_url }}{{ post.url }}">{{ post.title }}</a></h1>
      </header>

      <footer>
        <span>{{ post.date | date: "%d/%m/%Y" }}</span>
      </footer>

      <p>{{ post.excerpt }}</p>
    </article>

    {% if mod == 1 %}
      </div>
    {% endif %}
  {% endfor %}
</section>
