<!DOCTYPE html>

<html>

	<head>
		<title>{{ page.title }}  &middot; {{ site.name }}</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="keywords" content="Website, Design, Development, Programmer, PHP, JavaScript, jQuery, HTML5, Semantic, CSS3" />
		{% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt }}" />
		{% else %}
		<meta name="description" content="The home of Daniel Groves, a web designer and deveoper who floats between Plymouth and Bath, UK" />
		{% endif %}
		<meta name="author" content="Daniel Groves" />
		
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		
		{{ page.header}}
		
		<link rel="alternate" type="application/rss+xml" title="Notebook Feed" href="{{ site.url }}/feed/"> 
		
		<link rel="apple-touch-icon-precomposed" href="/assets/images/brand/iOS/icon_57x57.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/brand/iOS/icon_72x72.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/brand/iOS/icon_57x57@2x.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/brand/iOS/icon_72x72@2x.png">
		
		{% if page.image %}
			<meta property="og:image" content="{{ page.image }}"/>
		{% else %}
			<meta property="og:image" content="{{ site.url }}/assets/images/brand/PNG/Logo_Reverse_Padded_256x256x32.png"/>
		{% endif %}
		<meta property="og:title" content="{{ page.title }}  &middot; {{ site.name }}"/>
		<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
		<meta property="og:site_name" content="{{ site.name }}"/>
		<meta property="og:type" content="blog"/>
		
		<script type="text/javascript" src="//use.typekit.net/frx7rtl.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	
	<body>
		
		<div class="page">
			
			<header> 
				<a href="/" title="The homepage of Daniel Groves">
					<h1>Daniel Groves</h1>
					<p class="tagline"><strong>Web designer and developer</strong> based in southwest England</p>
				</a>
				
				<nav>
					{% include pages.html %}
				</nav>
			</header>