<!DOCTYPE html>

<html>

	<head>
		<title>{{ page.title }}  &middot; Daniel Groves</title>
		
		<meta name="viewport" content="width=device-width">
		
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="//use.typekit.net/frx7rtl.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!-- Lightview -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		<!--[if lt IE 9]>
		  <script type="text/javascript" src="/js/excanvas/excanvas.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/js/spinners/spinners.min.js"></script>
		<script type="text/javascript" src="/js/lightview/lightview.js"></script>

		<link rel="stylesheet" type="text/css" href="/css/lightview.css" />
	</head>
	
	<body>
		
		<div class="page">
			
			<header> 
				<h1>Daniel Groves</h1>
				<p class="tagline"><strong>Web Designer <em>and</em> Developer</strong> based in South-West England</p>
				
				<nav>
					{% include pages.html %}
				</nav>
			</header>