<!DOCTYPE html>

<html>

	<head>
		<title>{{ page.title }}  &middot; Daniel Groves</title>
		
		<link href="/css/main.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="//use.typekit.net/frx7rtl.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	
	<body>
		
		<div class="page">
			
			<header> 
				<h1>Daniel Groves</h1>
				<p class="tagline"><strong>Web Designer <em>and</em> Developer</strong> based in South-West England</p>
				
				<nav>
					<ul>
						<li><a href="/"	class="current_page_item">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/notebook">Notebook</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</header>