<ul>
	<li><a {% if "/index.html" == page.url %} class="current_page_item" {% endif %} href="/">Home</a></li>
	<li><a {% if "/portfolio/index.html" == page.url %} class="current_page_item" {% endif %} href="/portfolio">Portfolio</a></li>
	<li><a {% if "/adventures-photography/index.html" == page.url %} class="current_page_item" {% endif %} href="/adventures-photography">Adventures <span class="ampersand">&amp;</span> Photography</a></li>
	<li><a {% if "/photo365/index.html" == page.url %} class="current_page_item" {% endif %} href="/photo365">Photo365</a></li>
	<li><a {% if "/notebook/index.html" == page.url %} class="current_page_item" {% endif %} href="/notebook">Notebook</a></li>
</ul>
