<ul>
	<li><a {% if "/index.html" == page.url %} class="current_page_item" {% endif %} href="/">Home</a></li>
	<li><a {% if "/portfolio/index.html" == page.url %} class="current_page_item" {% endif %} href="/portfolio">Portfolio</a></li>
	<li><a {% if "/notebook/index.html" == page.url %} class="current_page_item" {% endif %} href="/notebook">Notebook</a></li>
	<li><a {% if "/camera-roll/index.html" == page.url %} class="current_page_item" {% endif %} href="/camera-roll">Camera Roll</a></li>
	<li><a {% if "/contact/index.html" == page.url %} class="current_page_item" {% endif %} href="/contact">Contact</a></li>
</ul>