<h2>Eurovelo was supported by</h2>

<figure class="narrow">
  <div class="row three">
    <a href="http://www.solartechnology.co.uk" title="Solar Technology International">
      <img src="{{ site.static_path }}/eurovelo_sponsors/solar_tech_logo.jpg" alt="Solar Technology International" />
    </a>
    <a href="http://lyon.co.uk/outdoor/" title="Lyon Outdoor Distribution">
      <img src="{{ site.static_path }}/eurovelo_sponsors/lyon_logo.jpg" alt="Lyon Outdoor Distribution" />
    </a>
    <a href="https://www.plymouth.ac.uk" title="Plymouth University">
      <img src="{{ site.static_path }}/eurovelo_sponsors/plymouth_university_logo.jpg" alt="Plymouth University" />
    </a>
  </div>
</figure>
