article {
  @include row;
  padding: 4em 0 0 0;


  // Header Image.
  @include media($tablet) {
    &.image {
      padding: 0;
    }

    div.image {
      width: 100%;
      height: 80vh;
      background-size: cover;
      background-position: middle;
    }
  }


  // Main content column settings.
  header, section, footer {
    @include outer-container;
  }

  h1, h2, h3, h4, h5, h6,
  p, ol, ul, span, pre code {
    @include span-columns(10);
    @include shift(1);
    
    span {
      width: auto;
      margin: 0;
    }

    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }
  }


  // Wide content column settings.
  figure {
    @include span-columns(12);
  }


  // Page Header
  header {
    h1, p, span {
      font-weight: 100;
      font-family: $font-sans;
    }

    h1 {
      @include rem-fallback(font-size, 2.5);
      @include rem-fallback(padding-top, 4);
      @include rem-fallback(padding-bottom, .8);
      color: $color-normal-text;
    }

    span {
      color: $color-light-text;
      @include rem-fallback(font-size, 1);
      display: block;

      @include media($tablet) {
        display: inline-block;
        @include rem-fallback(padding-right, 1);

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    p {
      @include subtle-emphases;
    }
  }


  // Page Footer
  footer p {
    @include subtle-emphases;
  }

  // Content Styles
  p, pre {
    @include rem-fallback(font-size, 1.4);
    @include rem-fallback(line-height, 1.8);
    @include rem-fallback(padding, .4, 0);
    font-family: $font-serif;
    color: $color-normal-text;
  }

  figure {
    @include rem-fallback(padding, .4, 0);

    @include media($tablet) {
      @include rem-fallback(padding, 2, 0);
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
      display: block;
    }

    figcaption {
      @include span-columns(12);
      @include rem-fallback(font-size, 1);
      @include rem-fallback(line-height, 1.2);
      @include rem-fallback(padding, .8, 1);

      font-family: $font-sans;
      background: $color-light-grey;
      text-align: center;
      color: $color-light-text;
    }
  }
  
  pre {
    background-color: $color-light-grey;
    overflow: hidden;
    @include fill-parent;
    
    code {
      overflow-x: scroll;
    }
  }
  
  code {
    @include rem-fallback(font-size, 1.2);
    font-family: "Inconsolata", "Fixed";
  }
}