aside {
  font-family: $font-sans;
  overflow: hidden;
  padding: 2em 0 3em 0;

  h2, section, ul {
    @include outer-container($content-max-width);
    padding: 0 1rem;
  }

  h2 {
    color: #333333;
    font-weight: 100;
    font-size: 1.6em;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1em;
  }
}

aside.more_like_this {
  background: $color-light-grey;

  dl {
    @include span-columns(4);
    color: #333333;

    dt {
      font-size: 1.3em;
      padding-bottom: .7em;
    }

    dd + dt {
      padding-top: 1.1em;
    }

    dd {
      line-height: 180%;
    }
  }
}

aside.elsewhere_on_the_web {
  li {
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 32px;
    text-indent: 10000%;
    list-style: none;
    margin: 0;
    width: 50%;
    float: left;

    @include media($tablet) {
      width: 25%;

      &:first-of-type, &:nth-of-type(4n) {
        margin-left: 12.5%;
      }
    }

    @include media($desktop) {
      width: 16.666%;

      &:first-of-type, &:nth-of-type(4n) {
        margin-left: 0;
      }
    }
  }

  .social__instagram {
    background-image: url("/styles/images/instagram.png");
    background-size: 100%;
  }

  .social__facebook {
    background-image: url("/styles/images/facebook.png");
    background-color: #3a5795;
  }

  .social__googleplus {
    background-image: url("/styles/images/google+.png");
    background-color: #9d532f;
  }

  .social__github {
    background-image: url("/styles/images/github.png");
    background-color: #3f3f3f;
  }

  .social__500px {
    background-image: url("/styles/images/500px.png");
    background-color: #000;
  }

  .social__twitter {
    background-image: url("/styles/images/twitter.png");
    background-color: #55acee;
  }
}

body > footer {
  background: $color-light-grey;
  font-family: $font-sans;
  line-height: 150%;
  padding: .7em 0;
  color: #333333;

  p {
    @include outer-container($content-max-width);
    padding: .5em 1rem;
  }
}
