body {
  font-size: 62.5%;
}

a {
  color: #1a8be2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-family: $font-sans;
  @include outer-container();
  font-weight: 100;
  font-size: 1.6em;
  padding: 1em 0 .5em 0;
}

hr {
  @include outer-container();
  padding: .5em 0 1em 0;
}

ol, ul {
  @include outer-container();
  font-family: $font-serif;
  padding: 0 0 1em 0;
  font-size: 1.3rem;

  li {
    padding: 0 0 .5em .2em;
    margin-left: 1.2em;
  }
}
