body {
  font-size: 62.5%;
}

a {
  color: #1a8be2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-family: $font-sans;
  @include outer-container();
  font-weight: 100;
  font-size: 1.6em;
  padding: 1em 0 .5em 0;
}

hr {
  @include outer-container();
  padding: .5em 0 1em 0;
}

ol, ul {
  @include outer-container();
  font-family: $font-serif;
  padding: 0 0 1em 0;
  font-size: 1.3rem;

  li {
    padding: 0 0 .5em .2em;
    margin-left: 1.2em;
  }
}


// Main content area basic formatting
main {
  @include row;
  
  header, section, footer {
    @include outer-container;
  }
  
  
  // Page Header
  & > header {
    margin-top: 4em;
  }
  
  header {
    h1, p, span {
      font-weight: 100;
      font-family: $font-sans;
      color: $color-normal-text;
      
      // TODO: Consolidate duplicated styles (content -> Main content column settings.)
      @include span-columns(10);
      @include shift(1);
      
      span {
        width: auto;
        margin: 0;
      }
    }
    
    h1, p, span {
      text-align: center;
      
      @include media($tablet) {
        @include span-columns(8);
        @include shift(2);
      }
    }

    h1 {
      @include rem-fallback(font-size, 2.8);
      @include rem-fallback(padding-top, 5);
      @include rem-fallback(padding-bottom, 4);
    }
    
    span {
      @include media($tablet) {
        @include row;
        @include rem-fallback(font-size, 1);
        @include rem-fallback(padding-bottom, 2);
        text-align: center;
      }
    }

    p {
      @include subtle-emphases;
    }
  }
}