body > header {
  @include fill-parent;

  background: #000000;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);

  position: fixed;
  top: 0;

  a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-sans;

    padding: 17px 1em 17px 1em;
    display: block;

    position: relative;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    text-align: center;
  }

  .toggle {
    float: right;
    font-size: .8rem;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -.4rem;
  }

  nav {
    clear: left;
    height: auto;
    overflow: hidden;

    &.hidden {
      height: 0;
    }

    li {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 1rem;
      padding: 0;

      a {
        padding: 19px 1em 18px 1em;

        &:hover, &.current_page_item {
          text-decoration: none;
          padding-left: .9em;
          border-left: .1em solid #fff;
        }
      }
    }
  }

  ul {
    padding: 0;
  }

  @include media($tablet) {
    a {
      display: inline-block;
    }

    .toggle {
      display: none;
    }

    nav {
      float: right;
      clear: none;

      &.hidden {
        height: auto;
      }

      li {
        display: inline-block;
        width: auto;

        a {
          &:hover, &.current_page_item {
            padding-bottom: 16px;
            border-bottom: 2px solid #fff;
            border-left: none;
          }
        }
      }
    }
  }
}
