nav.pageinate {
  margin-top: 3em;
  text-align: center;

  a, strong {
    padding: .5rem 1rem;
    margin: 0 5px;
    background: $colour-secondary;
    border-radius: 5rem;

    color: $colour-subtle;
  }

  strong {
    background: $colour-subtle;
    color: $colour-secondary;
  }
}
