section.articlelist {
  @include outer-container;
  
  article {
    @include span-columns(10);
    @include shift(1);
    @include rem-fallback(padding, 0, 0, 2, 0);
  }
  
  header, footer, p, h1, span {
    @include fill-parent;
    @include shift(0);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a.loading-img {
    display: block;
    width: 100%;
    padding-top: 56.888888889%;
    background: #333;
    position: relative;
    
    img.thumbnail {
      display: none;
    }
    
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36px;
      height: 36px;
      padding: 0;
      overflow: hidden;
    }
  }
  
  h1 {
    @include rem-fallback(font-size, 1.8);
    @include rem-fallback(padding, 1.5, 0, 1, 0);
  }
  
  span {
    @include rem-fallback(padding, 0, 0, 1, 0);
  }
  
  @include media($tablet-only) {
    article {
      @include span-columns(5);
      @include omega(2n);
      
      &:nth-of-type(2n) {
        @include shift(0);
      }
    }
  }
  
  @include media($desktop) {
    article {
      @include span-columns(4);
      @include shift(0);
      @include omega(3n);
    }
  }
}