body {
  font-family: $font-serif;
  font-weight: 300;
  line-height: 160%;
  color: $colour-type-main;
  font-size: 1.2rem;

  @include media($bp-600) {
    font-size: 1.4rem;
  }
}

main {
  p, ol, ul, figcaption, h1 {
    padding: .7rem .5rem 0;
    @include content-column;
  }

  section, article {
    @include content-column(1200px);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  text-transform: uppercase;
  padding-left: .5rem;
  padding-right: .5rem;
  @include content-column;
}

a {
  &:link {
    color: $colour-type-em;
    font-weight: 600;
  }

  &:active, &:visited, &:hover {
    color: lighten($colour-type-em, 20)
  }
}

header, main, footer, aside {
  @include fill-parent;

  margin: 0 auto;
  max-width: 600px;

  @include media($bp-600) {
    max-width: 100%;
  }
}

.row {
  @include media($bp-600) {
    @include row;
      padding-bottom: 2em;
  }
}

.intro {
  @include row;
  padding: 3rem .5rem;

  span {
    float: left;
    clear: both;
  }

  .me {
    font-family: $font-sans;
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    @include content-column;

    @include media($bp-900) {
      position: relative;
      left: .9em;
    }

    :first-of-type {
      width: 1.5em;
      text-align: right;
    }

    :last-of-type {
      padding-left: 1.5em;

      @include media($bp-600) {
        padding-top: .7em;
      }
    }
  }

  .description {
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    @include content-column;

    span {
      padding-top: 3em;
    }
  }
}

body > header {
  background: $colour-secondary;
  font-family: $font-sans;
  border-bottom: 1px solid $colour-main;
  font-size: 1rem;

  a {
    display: inline-block;
    width: 100%;

    &:link, &:active, &:visited {
      text-decoration: none;
      color: #eee;
    }

    &.current_page_item {
      background: lighten($colour-secondary, 20);
    }
  }

  h1 {
    text-align: center;
    font-size: 2em;
    color: #eee;
    padding: 1em 0;
  }

  nav {
    text-align: center;

    a {
      padding: .5rem 0;
    }
  }

  @include media($bp-900) {
    overflow: hidden;
    font-size: .8em;

    > a {
      @include span-columns(3);
      display: block;
    }

    h1 {
      font-size: 1em;
      text-align: left;
      padding: .8em 0 .8em 1.5rem;
    }

    nav {
      @include span-columns(9);
      text-align: right;
      text-transform: uppercase;

      a {
        padding: .8em 1em .8em 1em;
      }

      ul {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
      }

      li {
        display: inline-block;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

body > footer {
  border-top: 1px solid $colour-type-main;
  margin-top: 3em;
  padding: 1em 0;

  @include content-column;

  nav, section {
    padding: 0 .5rem;

    h2 {
      padding: 1em 0 0;
    }
  }

  @include media($bp-600) {
    section {
      @include span-columns(12)
    }

    nav {
      @include span-columns(6);
    }
  }

  section.smallprint {
    padding: 1em .5rem;
    color: $colour-type-deemphasis;
    border-top: 1px solid $colour-type-main;
  }

  p, dt {
    padding: .5rem 0 0;
  }
}

main > header, main > article > header {
  padding: 3em 0 2.8em;

  h1 {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 100%;
    text-transform: uppercase;
    color: $colour-type-em;
  }

  p {
    font-weight: 300;
    padding-top: 20px;
    color: $colour-type-deemphasis;
  }
}

article {
  h2 {
    font-size: 1.8em;
    padding-top: 1.5em;
    line-height: 120%;
  }
}

nav.pageinate {
  margin-top: 3em;
  text-align: center;

  a, strong {
    padding: .5rem 1rem;
    margin: 0 5px;
    background: $colour-secondary;
    border-radius: 5rem;

    color: $colour-subtle;
  }

  strong {
    background: $colour-subtle;
    color: $colour-secondary;
  }
}

pre {
  margin-top: .7rem;
  margin-bottom: .5rem;
  padding: .5rem;
  overflow-x: scroll;
  background: $colour-subtle;
  color: $colour-tertiary;
  border-top: 1px solid $colour-tertiary;
  border-bottom: 1px solid $colour-tertiary;

  @include fill-parent;
  @include content-column;
}

figure {
  padding: .5rem 0;
  border-top: 1px solid $colour-subtle;
  border-bottom: 1px solid $colour-subtle;
  margin: .5rem 0;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    font-family: $font-sans;
    font-size: .9em;
    color: $colour-type-deemphasis;
    text-align: center;
    line-height: 120%;

    @include media($bp-600) {
      font-size: .7em;
    }
  }
}

hr {
  margin: 2em .5rem 1.4em;
  border-top: 1px solid $colour-tertiary;

  &::after {
    content: "\2605\00a0\00a0\00a0\00a0\00a0\2605\00a0\00a0\00a0\00a0\00a0\2605"; // "(star)     (star)     (star)"
    position: relative;
    left: 50%;
    top: -1rem;
    margin-left: -4rem;
    background: #fff;
    padding: 0 2rem;
    font-size: .8rem;
  }
}


////
// Homepage Specific
////
.columnset {
  .developer, .photographer, .writer {
    margin-top: 3em;

    header::before {
      content: "";
      display: block;
      width: 100%;
      height: 150px;
      background: #666;
      margin-bottom: 1em;
    }
  }
}

////
// Article Lists
////

.articlelist {
  article {
    header {
      padding: 0;

      h1 {
        font-size: 1.2em;
      }

      a {
        &:link, &:visited, &:active {
          text-decoration: none;
        }
      }
    }

    footer {
      padding: 0 .5rem;

      @include content-column;
    }
  }
}
