$font-serif: "chaparral-pro", "georgia", serif;
$font-sans: "source-sans-pro", "Helvetica", sans-serif;

$color-light-grey: #ecebeb;
$color-normal-text: #333333;
$color-light-text: #797979;

$max-width: 1300px !default;
$tablet: min-width 720px;
$desktop: min-width 1000px;
