$font-serif: "chaparral-pro", "georgia", serif;
$font-sans: "source-sans-pro", "Helvetica", sans-serif;

$content-max-width: 900px;
$figure-max-width: 1300px;

$color-light-grey: #ecebeb;
$color-normal-text: #333333;
$color-light-text: #797979;

$grid-columns: 12 !default;
$tablet: @include new-breakpoint(min-width 480px 8);
$desktop: @include new-breakpoint(min-width 1000px 12);
