$colour-main: #333;
$colour-secondary: #4379bc;
$colour-tertiary: #666;
$colour-subtle: #eee;

$colour-type-main: $colour-main;
$colour-type-link: $colour-secondary;
$colour-type-em: $colour-secondary;
$colour-type-deemphasis: $colour-tertiary;
