---
layout: default
title: Notebook
excerpt: The Thoughts, Problems and Solutions of a Student and Web Developer
category: notebook

nav-weight: 4
nav-name: Notebook
---

<div class="columns-2 post-list-excerpt">
	<h3>Chronological Entries</h3>
	
	<dl class="col">
		{% for post in paginator.posts %}
			{% if forloop.index <= 10 %}
				<dt><a href="{{ site.base_url }}{{ post.url }}"><strong>{{post.title}}</strong></a></dd>
				<dd class="date">{{ post.date | date: "%d/%m/%Y" }}</span></dd>
				<dd class="excerpt">{{post.excerpt}}</span></dd>
			{% endif %}
		{% endfor %}
	</dl>
	<dl class="col">
		{% for post in paginator.posts %}
			{% if forloop.index > 10 %}
				<dt><a href="{{ site.base_url }}{{ post.url }}"><strong>{{post.title}}</strong></a></dd>
				<dd class="date">{{ post.date | date: "%d/%m/%Y" }}</span></dd>
				<dd class="excerpt">{{post.excerpt}}</span></dd>
			{% endif %}
		{% endfor %}
	</dl>
	
</div>